.img-center {
    text-align: center;
}

.img-center img {
    width: 50%;
}

h1 {
    text-align: center;
    color: orange;
}

body {
    background-color: darkolivegreen;
}

a.btn {
    background-color: orange;
}